*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
html{
  min-width: fit-content;
}
body {
  background-color: rgba(0, 0, 0, 0.2) !important;
  /* width: 100%; */
}

.navbar {
  /* background-color: transparent !important; */
  border: none;
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(5.5px) !important;
  -webkit-backdrop-filter: blur(5.5px) !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-bar-content {
  /* background: rgb(0 4 8 / 50%); */
  backdrop-filter: blur(5.5px) !important;
  -webkit-backdrop-filter: blur(5.5px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.logo {
  /* 1em = 16px relative to body */
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 136, 226);
}

.nav-item{
  margin: 0px 20px;
}

.nav-link {
  color: #fff !important;
  font-weight: 800 !important;
  text-decoration: none;
  font-size: 1.1em !important;
  font-weight: 300;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.nav-link:hover {
  color: rgb(0, 136, 226) !important;
}

.nav-link::before {
  transition: 300ms ease;
  height: 2px;
  content: "";
  position: absolute;
  background-color: rgb(0, 136, 226) ;
  width: 0%;
  bottom: 1px;
}

.nav-link:hover::before {
  width: 100%;
}

.navbar-toggler-icon{
  color: #fff !important;
}

.navTrigger {
  bottom: 0;
  cursor: pointer;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  width: 30px;
  display: block;
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  display: none;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.nav div.show_list {
  height: auto;
  display: none;
}

/*  Vertical navbar style */
#verticalNavbarSupportedContent{
  height: 100vh;
   /* width: 15%; */
}

/* #verticalNavbarSupportedContent > div.ul {
  display: ;
} */

#verticalNavbarSupportedContent > .navbar-nav {
  height: 70vh;
  justify-content: space-around;
  align-items: center;
}



@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}


.myH2 {
text-align:center;
font-size: 4rem;
}
.myP {
text-align: justify;
padding-left:15%;
padding-right:15%;
font-size: 20px;
}
@media all and (max-width:700px){
.myP {
  padding:2%;
}
}

@media (max-width: 991px){

.nav-bar-content{
    padding: 10px 5px;
  }
body{
  background-color: rgba(0, 0, 0, 0.7) !important;
}
  .navTrigger {
    display: block;
}
.nav div.main_list {
  width: 15%;
  height: 0;
  overflow: hidden;
}
.nav div.show_list {
  height: auto;
  display: none;
}
.nav div.main_list ul {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111;
  /*same background color of navbar*/
  background-position: center top;
}
.nav div.main_list ul li {
  width: 100%;
  text-align: right;
}
.nav div.main_list ul li a {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  padding: 20px;
}
.nav div.media_button {
  display: block;
}
}







